@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
body,
p {
  font-family: Poppins, sans-serif;
}
.copyright-bar,
noscript {
  width: 100%;
  text-align: center;
}
.wraper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.navbar-dark {
  background-color: #3270b4 !important;
}
.navbar-brand,
.navbar-nav li a {
  color: #fff !important;
}
.navbar-toggler {
  border-color: transparent !important;
}
body {
  background: #fafafa;
}
.api-desription {
  font-size: 15px;
}
.brand {
  background-color: #fff;
}
.brand a,
brand a:hover {
  color: #3270b4;
  padding-left: 5px !important;
  padding-top: 5px;
  text-decoration: none;
  font-size: 25px;
}
p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7em;
}
@media (max-width: 985px) {
  #doc-side-nav {
    margin-left: -250px;
    min-width: 250px;
    max-width: 250px;
    position: sticky !important;
    top: 3rem !important;
    height: calc(100vh - 3rem) !important;
    z-index: 999;
    background-color: #fff;
  }
  #doc-side-nav.active {
    margin-left: -15px;
  }
  #doc-content {
    top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.doc-sidebar {
  top: 4rem;
  z-index: 1000;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: auto;
}
.doc-sidebar li {
  list-style: none;
}
.doc-sidebar a,
.doc-sidebar li a,
.toggle-items li a {
  padding-left: 10px !important;
  padding-top: 10px !important;
  color: grey;
  display: block !important;
}
.doc-sidebar a:hover,
.doc-sidebar li a:hover,
.toggle-items li a:hover {
  color: #000 !important;
  display: block !important;
  text-decoration: none !important;
}
.doc-sidebar ul li a {
  padding-left: 10px;
  padding-top: 10px;
  display: block;
}
.doc-sidebar-link {
  display: block;
  padding: 0.25rem 1.5rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.65);
}
#doc-side-nav {
  transition: all 0.8s;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
}
#doc-side-nav.active {
  margin-top: 0;
  border-right: none !important;
  border-bottom: none;
}
.toggle-items {
  padding-left: 15px;
}
.toggle-items li a {
  font-size: 14px;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.fotter-top {
  background-color: #292929;
  color: #fff;
  padding: 20px 25px;
}
.copyright-bar {
  background-color: #212121;
  color: #fff;
  height: 50px;
  padding-left: 0 !important;
}
.copyright-bar > P {
  line-height: 50px !important;
  font-size: 0.8em !important;
}
mark {
  color: #00f;
  background-color: transparent !important;
}
.varHeaders {
  background-color: #686868;
  color: #fff;
}
noscript {
  color: #fff;
}
.inline-permission {
  background-color: rgba(255, 207, 0, 0.1);
  border: 1px solid #ffcf00;
  padding: 10px;
  overflow: auto;
  align-items: center;
  margin-bottom: 5px;
  color: brown;
}
.inline-permission > img {
  height: 15px;
  width: 15px;
}
.fotter-links a {
  color: gray;
}
.fa-envelope,
.fa-facebook-square,
.fa-linkedin,
.fa-twitter-square,
.fa-youtube {
  color: gray;
  font-size: 40px;
  vertical-align: middle;
  padding-right: 10px;
}
.link-active {
  color: #000 !important;
}
strong {
  color: green;
}
